{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block extra_assets %}
        <link rel="stylesheet" href="{% static "style/main.css" %}">
    {% endblock %}

    {% block header_css %}
        <link rel="stylesheet" href="{% static "style/header.css" %}">
    {% endblock %}

    <title>{% block title %}My Site{% endblock %} - سلف شمسی پور</title>
</head>
<body>

{% block header %}
    <header class="main-header">
        <div class="user-short-detail">
            {% if profile.image %}
                <img src="{{ profile.image.url }}" alt="Profile Picture" class="user-profile-thumb">
            {% endif %}
            <div class="user-name-welcome-container text">
                <span class="user-name">ولادمیر زلنسکی</span>
                <span class="welcome-message">خوش آمدید</span>
            </div>
        </div>
        <span class="site-name text">سلف شمسی پور</span>
        <div class="wallet-container">
            <button class="wallet-recharge text">شارژ</button>
            <div class="wallet-detail">
                <span class="wallet text">کیف پول</span>
                <span class="wallet-balance text">۵۰,۰۰۰</span>
                <span class="currency text">تومان</span>
            </div>
            <button class="logout text" onclick="window.location.assign('{% url 'logout' %}');">خروج</button>
        </div>
    </header>
{% endblock %}


{% block content %}

{% endblock %}

{% if notification %}
    {% if notification_status %}
        <div class="notif success">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path
                        d="M11,16.4l-4.7-4.7l1.4-1.4l3.3,3.3l8.4-8.4C17.5,3.3,14.9,2,12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10 c0-1.9-0.5-3.6-1.4-5.1L11,16.4z">
                </path>
            </svg>
            <span class="text">{{ notification_message }}</span>
        </div>
    {% else %}
        <div class="notif error">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path
                        d="M12,2C6.47,2,2,6.47,2,12s4.47,10,10,10s10-4.47,10-10S17.53,2,12,2z M17,15.59L15.59,17L12,13.41L8.41,17L7,15.59 L10.59,12L7,8.41L8.41,7L12,10.59L15.59,7L17,8.41L13.41,12L17,15.59z">
                </path>
            </svg>
            <span class="text">{{ notification_message }}</span>
        </div>
    {% endif %}

    <script>
        const element = document.getElementsByClassName('notif')[0];

        // Remove the class
        element.classList.remove('notify');

        // Trigger reflow
        void element.offsetWidth; // This forces a reflow

        // Re-add the class
        element.classList.add('notify');
    </script>
{% endif %}

</body>
</html>