{% extends "base.htm" %}
{% load static %}

{% block extra_assets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "style/login.css" %}">
{% endblock %}

{% block header_css %}{% endblock %}

{% block title %}ورود{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-form">
            <div class="login-form-title text">ورود به سامانه آنلاین رزرو غذای شمسی پور</div>
            <form class="login-detail" method="post">
                {% csrf_token %}
                <label class="text">{{ form.username.label }}</label>
                {{ form.username }}
                <label class="text">{{ form.password.label }}</label>
                {{ form.password }}
                <input type="submit" class="text" value="ورود">
            </form>
            <div class="recover-detail text">نمیتوانید وارد شوید؟<a href="{% url 'user-password-recovery' %}">بازیابی اطلاعات ورود</a></div>
        </div>
        <div class="login-banner text"><span>سلف شمسی پور</span></div>
    </div>
{% endblock %}