{% extends "base.htm" %}
{% load static %}

{% block extra_assets %}
    {{ block.super }}
    <script src="{% static "script/jquery-3.7.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/material-persian-datetime-picker/src/jquery.mpdatepicker.js" %}"></script>
    <link type="text/css" rel="stylesheet"
        href="{% static "plugins/material-persian-datetime-picker/src/jquery.mpdatepicker.css" %}" />

    <link rel="stylesheet" href="{% static "style/reserved.css" %}">
{% endblock %}

{% block title %}وضعیت رزرو ها{% endblock %}

{% block content %}
    <div class="current-reserved-meals">
        <div class="date-selection">
            <div class="date-picker-wrapper">
                <input type="text" placeholder="تاریخ مورد نظر را انتخاب کنید" class="date-picker text" value="" />
                <button type="button" class="clear-date" aria-label="پاک کردن تاریخ">&times;</button>
            </div>
        </div>
        <div class="current-reserved-meals-list text">
            <div class="meal">
                <input type="checkbox" class="toggle-code" hidden>
                <label class="meal-wrapper">
                    <div class="meal-image-code">
                        <div class="meal-image-container">
                            <img src="{% static "images/Gheimeh.png" %}" class="meal-image">
                            <hr>
                            <div class="meal-detail">
                                <span class="meal-name">قرمه سبزی</span>
                                <span class="meal-description">همراه با نوشیدنی و سالاد</span>
                                <span class="meal-expiration" data-timestamp="1746468720">قابل استفاده در تاریخ
                                    <strong>۱۴۰۴/۰۲/۱۵</strong><br>
                                    تا ساعت <strong>۱۸:۰۰</strong></span>
                            </div>
                        </div>
                        <div class="meal-code">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 600 600">
                                <path d="M264 72h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M240 96h25v25h-25z" />
                                <path d="M264 96h25v25h-25z" />
                                <path d="M288 96h25v25h-25z" />
                                <path d="M312 96h25v25h-25z" />
                                <path d="M336 96h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M264 120h25v25h-25z" />
                                <path d="M240 144h25v25h-25z" />
                                <path d="M264 144h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 144h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M336 168h25v25h-25zm-96 24h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 192h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M312 216h25v25h-25z" />
                                <path d="M336 216h25v25h-25zM48 240h25v25H48zm48 0h25v25H96z" />
                                <path d="M120 240h25v25h-25z" />
                                <path d="M144 240h25v25h-25z" />
                                <path d="M168 240h25v25h-25z" />
                                <path d="M192 240h25v25h-25zm72 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M408 240h25v25h-25z" />
                                <path d="M432 240h25v25h-25z" />
                                <path d="M456 240h25v25h-25z" />
                                <path d="M480 240h25v25h-25zM48 264h25v25H48zm72 0h25v25h-25zm96 0h25v25h-25z" />
                                <path d="M240 264h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M480 264h25v25h-25z" />
                                <path d="M504 264h25v25h-25z" />
                                <path d="M528 264h25v25h-25zM48 288h25v25H48zm72 0h25v25h-25z" />
                                <path d="M144 288h25v25h-25z" />
                                <path d="M168 288h25v25h-25z" />
                                <path d="M192 288h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M264 288h25v25h-25zm48 0h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M456 288h25v25h-25zm72 0h25v25h-25zM48 312h25v25H48z" />
                                <path d="M72 312h25v25H72z" />
                                <path d="M96 312h25v25H96zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M240 312h25v25h-25z" />
                                <path d="M264 312h25v25h-25zm144 0h25v25h-25z" />
                                <path d="M432 312h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M504 312h25v25h-25z" />
                                <path
                                    d="M528 312h25v25h-25zM48 336h25v25H48zm96 0h25v25h-25zm48 0h25v25h-25zm120 0h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M504 336h25v25h-25zm-264 24h25v25h-25z" />
                                <path d="M264 360h25v25h-25z" />
                                <path d="M288 360h25v25h-25z" />
                                <path d="M312 360h25v25h-25z" />
                                <path d="M336 360h25v25h-25z" />
                                <path d="M360 360h25v25h-25z" />
                                <path d="M384 360h25v25h-25zm96 0h25v25h-25zm-216 24h25v25h-25z" />
                                <path d="M288 384h25v25h-25zm48 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M408 384h25v25h-25zm-168 24h25v25h-25z" />
                                <path d="M264 408h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 408h25v25h-25z" />
                                <path d="M360 408h25v25h-25z" />
                                <path d="M384 408h25v25h-25zm72 0h25v25h-25z" />
                                <path
                                    d="M480 408h25v25h-25zm48 0h25v25h-25zm-288 24h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M456 432h25v25h-25zm-216 24h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M480 456h25v25h-25zm-240 24h25v25h-25zm48 0h25v25h-25z" />
                                <path
                                    d="M312 480h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25zm-216 24h25v25h-25z" />
                                <path d="M288 504h25v25h-25zm120 0h25v25h-25z" />
                                <path d="M432 504h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M504 504h25v25h-25zm-264 24h25v25h-25zm48 0h25v25h-25z" />
                                <path
                                    d="M312 528h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25zM48 48v168h168V48H48zm144 144H72V72h120v120zM384 48v168h168V48H384zm144 144H408V72h120v120zM48 384v168h168V384H48zm144 144H72V408h120v120z" />
                                <path d="M96 96h72v72H96zm336 0h72v72h-72zM96 432h72v72H96z" />
                            </svg>
                            <hr>
                            <div class="meal-code-number">کد غذا<br>۱۲۳۴۵۶۷۸</div>
                        </div>
                    </div>
                </label>
            </div>

            <div class="meal">
                <input type="checkbox" class="toggle-code" hidden>
                <label class="meal-wrapper">
                    <div class="meal-image-code">
                        <div class="meal-image-container">
                            <img src="{% static "images/Gheimeh.png" %}" class="meal-image">
                            <hr>
                            <div class="meal-detail">
                                <span class="meal-name">قرمه سبزی</span>
                                <span class="meal-description">همراه با نوشیدنی و سالاد</span>
                                <span class="meal-expiration" data-timestamp="1746468720">قابل استفاده در تاریخ
                                    <strong>۱۴۰۴/۰۲/۱۵</strong><br>
                                    تا ساعت <strong>۱۸:۰۰</strong></span>
                            </div>
                        </div>
                        <div class="meal-code">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 600 600">
                                <path d="M264 72h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M240 96h25v25h-25z" />
                                <path d="M264 96h25v25h-25z" />
                                <path d="M288 96h25v25h-25z" />
                                <path d="M312 96h25v25h-25z" />
                                <path d="M336 96h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M264 120h25v25h-25z" />
                                <path d="M240 144h25v25h-25z" />
                                <path d="M264 144h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 144h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M336 168h25v25h-25zm-96 24h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 192h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M312 216h25v25h-25z" />
                                <path d="M336 216h25v25h-25zM48 240h25v25H48zm48 0h25v25H96z" />
                                <path d="M120 240h25v25h-25z" />
                                <path d="M144 240h25v25h-25z" />
                                <path d="M168 240h25v25h-25z" />
                                <path d="M192 240h25v25h-25zm72 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M408 240h25v25h-25z" />
                                <path d="M432 240h25v25h-25z" />
                                <path d="M456 240h25v25h-25z" />
                                <path d="M480 240h25v25h-25zM48 264h25v25H48zm72 0h25v25h-25zm96 0h25v25h-25z" />
                                <path d="M240 264h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M480 264h25v25h-25z" />
                                <path d="M504 264h25v25h-25z" />
                                <path d="M528 264h25v25h-25zM48 288h25v25H48zm72 0h25v25h-25z" />
                                <path d="M144 288h25v25h-25z" />
                                <path d="M168 288h25v25h-25z" />
                                <path d="M192 288h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M264 288h25v25h-25zm48 0h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M456 288h25v25h-25zm72 0h25v25h-25zM48 312h25v25H48z" />
                                <path d="M72 312h25v25H72z" />
                                <path d="M96 312h25v25H96zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M240 312h25v25h-25z" />
                                <path d="M264 312h25v25h-25zm144 0h25v25h-25z" />
                                <path d="M432 312h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M504 312h25v25h-25z" />
                                <path
                                    d="M528 312h25v25h-25zM48 336h25v25H48zm96 0h25v25h-25zm48 0h25v25h-25zm120 0h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M504 336h25v25h-25zm-264 24h25v25h-25z" />
                                <path d="M264 360h25v25h-25z" />
                                <path d="M288 360h25v25h-25z" />
                                <path d="M312 360h25v25h-25z" />
                                <path d="M336 360h25v25h-25z" />
                                <path d="M360 360h25v25h-25z" />
                                <path d="M384 360h25v25h-25zm96 0h25v25h-25zm-216 24h25v25h-25z" />
                                <path d="M288 384h25v25h-25zm48 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M408 384h25v25h-25zm-168 24h25v25h-25z" />
                                <path d="M264 408h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 408h25v25h-25z" />
                                <path d="M360 408h25v25h-25z" />
                                <path d="M384 408h25v25h-25zm72 0h25v25h-25z" />
                                <path
                                    d="M480 408h25v25h-25zm48 0h25v25h-25zm-288 24h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M456 432h25v25h-25zm-216 24h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M480 456h25v25h-25zm-240 24h25v25h-25zm48 0h25v25h-25z" />
                                <path
                                    d="M312 480h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25zm-216 24h25v25h-25z" />
                                <path d="M288 504h25v25h-25zm120 0h25v25h-25z" />
                                <path d="M432 504h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M504 504h25v25h-25zm-264 24h25v25h-25zm48 0h25v25h-25z" />
                                <path
                                    d="M312 528h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25zM48 48v168h168V48H48zm144 144H72V72h120v120zM384 48v168h168V48H384zm144 144H408V72h120v120zM48 384v168h168V384H48zm144 144H72V408h120v120z" />
                                <path d="M96 96h72v72H96zm336 0h72v72h-72zM96 432h72v72H96z" />
                            </svg>
                            <hr>
                            <div class="meal-code-number">کد غذا<br>۱۲۳۴۵۶۷۹</div>
                        </div>
                    </div>
                </label>
            </div>

            <div class="meal">
                <input type="checkbox" class="toggle-code" hidden>
                <label class="meal-wrapper">
                    <div class="meal-image-code">
                        <div class="meal-image-container">
                            <img src="{% static "images/Gheimeh.png" %}" class="meal-image">
                            <hr>
                            <div class="meal-detail">
                                <span class="meal-name">قرمه سبزی</span>
                                <span class="meal-description">همراه با نوشیدنی و سالاد</span>
                                <span class="meal-expiration" data-timestamp="1747159920">قابل استفاده در تاریخ
                                    <strong>۱۴۰۴/۰۲/۲۳</strong><br>
                                    تا ساعت <strong>۱۸:۰۰</strong></span>
                            </div>
                        </div>
                        <div class="meal-code">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 600 600"></svg>
                            <hr>
                            <div class="meal-code-number">کد غذا<br>۱۲۳۴۵۶۷۹</div>
                        </div>
                    </div>
                </label>
            </div>

            <div class="meal">
                <input type="checkbox" class="toggle-code" hidden>
                <label class="meal-wrapper">
                    <div class="meal-image-code">
                        <div class="meal-image-container">
                            <img src="{% static "images/Gheimeh.png" %}" class="meal-image">
                            <hr>
                            <div class="meal-detail">
                                <span class="meal-name">قرمه سبزی</span>
                                <span class="meal-description">همراه با نوشیدنی و سالاد</span>
                                <span class="meal-expiration" data-timestamp="1746209520">قابل استفاده در تاریخ
                                    <strong>۱۴۰۴/۰۲/۱۲</strong><br>
                                    تا ساعت <strong>۱۸:۰۰</strong></span>
                            </div>
                        </div>
                        <div class="meal-code">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 600 600">
                                <path d="M264 72h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M240 96h25v25h-25z" />
                                <path d="M264 96h25v25h-25z" />
                                <path d="M288 96h25v25h-25z" />
                                <path d="M312 96h25v25h-25z" />
                                <path d="M336 96h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M264 120h25v25h-25z" />
                                <path d="M240 144h25v25h-25z" />
                                <path d="M264 144h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 144h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M336 168h25v25h-25zm-96 24h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 192h25v25h-25zm-96 24h25v25h-25z" />
                                <path d="M312 216h25v25h-25z" />
                                <path d="M336 216h25v25h-25zM48 240h25v25H48zm48 0h25v25H96z" />
                                <path d="M120 240h25v25h-25z" />
                                <path d="M144 240h25v25h-25z" />
                                <path d="M168 240h25v25h-25z" />
                                <path d="M192 240h25v25h-25zm72 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M408 240h25v25h-25z" />
                                <path d="M432 240h25v25h-25z" />
                                <path d="M456 240h25v25h-25z" />
                                <path d="M480 240h25v25h-25zM48 264h25v25H48zm72 0h25v25h-25zm96 0h25v25h-25z" />
                                <path d="M240 264h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M480 264h25v25h-25z" />
                                <path d="M504 264h25v25h-25z" />
                                <path d="M528 264h25v25h-25zM48 288h25v25H48zm72 0h25v25h-25z" />
                                <path d="M144 288h25v25h-25z" />
                                <path d="M168 288h25v25h-25z" />
                                <path d="M192 288h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M264 288h25v25h-25zm48 0h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M456 288h25v25h-25zm72 0h25v25h-25zM48 312h25v25H48z" />
                                <path d="M72 312h25v25H72z" />
                                <path d="M96 312h25v25H96zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M240 312h25v25h-25z" />
                                <path d="M264 312h25v25h-25zm144 0h25v25h-25z" />
                                <path d="M432 312h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M504 312h25v25h-25z" />
                                <path
                                    d="M528 312h25v25h-25zM48 336h25v25H48zm96 0h25v25h-25zm48 0h25v25h-25zm120 0h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M504 336h25v25h-25zm-264 24h25v25h-25z" />
                                <path d="M264 360h25v25h-25z" />
                                <path d="M288 360h25v25h-25z" />
                                <path d="M312 360h25v25h-25z" />
                                <path d="M336 360h25v25h-25z" />
                                <path d="M360 360h25v25h-25z" />
                                <path d="M384 360h25v25h-25zm96 0h25v25h-25zm-216 24h25v25h-25z" />
                                <path d="M288 384h25v25h-25zm48 0h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M408 384h25v25h-25zm-168 24h25v25h-25z" />
                                <path d="M264 408h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M336 408h25v25h-25z" />
                                <path d="M360 408h25v25h-25z" />
                                <path d="M384 408h25v25h-25zm72 0h25v25h-25z" />
                                <path
                                    d="M480 408h25v25h-25zm48 0h25v25h-25zm-288 24h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M456 432h25v25h-25zm-216 24h25v25h-25zm96 0h25v25h-25zm72 0h25v25h-25z" />
                                <path d="M480 456h25v25h-25zm-240 24h25v25h-25zm48 0h25v25h-25z" />
                                <path
                                    d="M312 480h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25zm-216 24h25v25h-25z" />
                                <path d="M288 504h25v25h-25zm120 0h25v25h-25z" />
                                <path d="M432 504h25v25h-25zm48 0h25v25h-25z" />
                                <path d="M504 504h25v25h-25zm-264 24h25v25h-25zm48 0h25v25h-25z" />
                                <path
                                    d="M312 528h25v25h-25zm48 0h25v25h-25zm72 0h25v25h-25zm48 0h25v25h-25zM48 48v168h168V48H48zm144 144H72V72h120v120zM384 48v168h168V48H384zm144 144H408V72h120v120zM48 384v168h168V384H48zm144 144H72V408h120v120z" />
                                <path d="M96 96h72v72H96zm336 0h72v72h-72zM96 432h72v72H96z" />
                            </svg>
                            <hr>
                            <div class="meal-code-number">کد غذا<br>۱۲۳۴۵۶۷۹</div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <button onclick="window.location.assign('{% url 'dashboard' %}');" class="previous-page text">برگشت</button>
    </div>

    <script src="{% static "script/reserved.js" %}"></script>

    <script type="text/javascript">
        $(function () {
            $(".date-picker").mpdatepicker({
                'timePicker': true,
                onOpen: function () {
                    console.log('open');
                },
                onSelect: function (selected) {
                    console.log('select', selected);
                },
                onChange: function (oldVal, newVal) {
                    console.log('change', oldVal, newVal);
                },
                onClose: function () {
                    console.log('close');
                },
            });
        });
    </script>
    <script>
        document.querySelectorAll('.meal').forEach((meal, i) => {
            const input = meal.querySelector('input.toggle-code');
            const label = meal.querySelector('label.meal-wrapper');
            const id = `toggle-code-${i}`;
            input.id = id;
            label.setAttribute('for', id);
        });
    </script>
{% endblock %}