{% extends "base.htm" %}
{% load static %}

{% block extra_assets %}
    {{ block.super }}
    <script src="{% static "script/jquery-3.7.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/material-persian-datetime-picker/src/jquery.mpdatepicker.js" %}"></script>
    <link type="text/css" rel="stylesheet"
        href="{% static "plugins/material-persian-datetime-picker/src/jquery.mpdatepicker.css" %}" />

    <link rel="stylesheet" href="{% static "style/reserve.css" %}">
{% endblock %}

{% block title %}رزرو غذا{% endblock %}

{% block content %}
    <div class="reserve-form">
        <div class="date-selection">
            <input type="text" placeholder="تاریخ مورد نظر را انتخاب کنید" class="date-picker text" value="" />
        </div>
        <table class="date-meal-menu text">
            <thead class="date-meal-header">
                <tr>
                    <th></th>
                    <th>غذا</th>
                    <th>توضیحات</th>
                    <th>قیمت</th>
                    <th>تعداد</th>
                </tr>
            </thead>
            <tbody>
                <tr class="date-meal-row" data-meal-id>
                    <td><img src="{% static "images/Gheimeh.png" %}"></td>
                    <td class="date-meal-name">خورشت قیمه</td>
                    <td class="date-meal-description">همراه با نوشیدنی و ماست</td>
                    <td class="date-meal-price">۲۰,۰۰۰<span> تومان</span></td>
                    <td>
                        <div class="counter" data-min="0" data-max="10">
                            <button class="decrement">-</button>
                            <div class="number">0</div>
                            <button class="increment">+</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button onclick="window.location.assign('{% url 'dashboard' %}');" class="previous-page text">برگشت</button>
    </div>

    <script src="{% static "script/reserve.js" %}"></script>

    <script type="text/javascript">
        $(function () {
            $(".date-picker").mpdatepicker({
                'timePicker': true,
                onOpen: function () {
                    console.log('open');
                },
                onSelect: function (selected) {
                    console.log('select', selected);
                },
                onChange: function (oldVal, newVal) {
                    console.log('change', oldVal, newVal);
                },
                onClose: function () {
                    console.log('close');
                },
            });
        });
    </script>
{% endblock %}