{% extends "base.htm" %}
{% load static %}

{% block extra_assets %}
    {{ block.super }}
    <script src="{% static "script/jquery-3.7.0.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "plugins/material-persian-datetime-picker/src/jquery.mpdatepicker.js" %}"></script>
    <link type="text/css" rel="stylesheet"
          href="{% static "plugins/material-persian-datetime-picker/src/jquery.mpdatepicker.css" %}"/>

    <link rel="stylesheet" href="{% static "style/reserved.css" %}">
{% endblock %}

{% block title %}وضعیت رزرو ها{% endblock %}

{% block content %}
    <div class="current-reserved-meals">
        <div class="date-selection">
            <div class="date-picker-wrapper">
                <input type="text" placeholder="تاریخ مورد نظر را انتخاب کنید" class="date-picker text" value=""/>
                <button type="button" class="clear-date" aria-label="پاک کردن تاریخ">&times;</button>
            </div>
        </div>
        <div class="current-reserved-meals-list text">
            {% for res in reservations %}
                <div class="meal">
                    <input type="checkbox" class="toggle-code" hidden>
                    <label class="meal-wrapper">
                        <div class="meal-image-code">

                            <div class="meal-image-container">
                                <img src="{{ res.dailymenu.image_url }}" class="meal-image">
                                <hr>
                                <div class="meal-detail">
                                    <span class="meal-name">{{ res.dailymenu.food.name }}</span>
                                    <span class="meal-description">
                      {{ res.dailymenu.side_dishes.all|join:"، " }}
                    </span>
                                    <span class="meal-expiration"
                                          data-timestamp="{{ res.dailymenu.expiration_date.timestamp }}">
                      قابل استفاده در تاریخ
                      <strong>{{ res.dailymenu.expiration_date|date:"Y/m/d" }}</strong><br>
                      تا ساعت
                      <strong>{{ res.dailymenu.expiration_date|time:"H:i" }}</strong>
                    </span>
                                    <span class="meal-status {{ res.status.status }}">وضعیت: <strong>{{ res.status.title }}</strong></span>
                                </div>
                            </div>

                            <div class="meal-code">
                                <!-- inline the SVG -->
                                {{ res.qr_svg|safe }}
                                <hr>
                                <div class="meal-code-number">
                                    کد غذا<br>{{ res.reservation_code }}
                                </div>
                            </div>

                        </div>
                    </label>
                </div>
            {% empty %}
                <p>شما رزروی ندارید.</p>
            {% endfor %}
        </div>
        <button onclick="window.location.assign('{% url 'dashboard' %}');" class="previous-page text">برگشت</button>
    </div>

    <script src="{% static "script/reserved.js" %}"></script>

    <script type="text/javascript">
        $(function () {
            $(".date-picker").mpdatepicker({
                'timePicker': true,
                onOpen: function () {
                    console.log('open');
                },
                onSelect: function (selected) {
                    console.log('select', selected);
                },
                onChange: function (oldVal, newVal) {
                    console.log('change', oldVal, newVal);
                },
                onClose: function () {
                    console.log('close');
                },
            });
        });
    </script>
    <script>
        document.querySelectorAll('.meal').forEach((meal, i) => {
            const input = meal.querySelector('input.toggle-code');
            const label = meal.querySelector('label.meal-wrapper');
            const id = `toggle-code-${i}`;
            input.id = id;
            label.setAttribute('for', id);
        });
    </script>
{% endblock %}