{% extends "base.htm" %}
{% load static %}

{% block extra_assets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "style/login.css" %}">
{% endblock %}

{% block header_css %}{% endblock %}

{% block title %}بازیابی اطلاعات ورود{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-form">
            <div class="login-form-title text">بازیابی اطلاعات ورود</div>
            <form class="login-detail" method="post">
                {%  csrf_token  %}
                <label class="text">{{ form.answer_1.label }}</label>
                {{ form.answer_1 }}
                <label class="text">{{ form.answer_2.label }}</label>
                {{ form.answer_2 }}
                <label class="text">{{ form.answer_3.label }}</label>
                {{ form.answer_3 }}
                <label class="text">{{ form.answer_4.label }}</label>
                {{ form.answer_4 }}
                <label class="text">{{ form.answer_5.label }}</label>
                {{ form.answer_5 }}
                <input type="submit" class="text" value="بازیابی اطلاعات">
            </form>
        </div>
        <div class="login-banner text"><span>سلف شمسی پور</span></div>
    </div>
{% endblock %}