{% extends "base.htm" %}
{% load static %}

{% block extra_assets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "style/login.css" %}">
{% endblock %}

{% block header_css %}{% endblock %}

{% block title %}بازیابی اطلاعات ورود{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-form">
            <div class="login-form-title text">بازیابی اطلاعات ورود</div>
            <form class="login-detail">
                <label class="text">نام بهترین دوست دوران کودکیتان چه بود؟</label>
                <input type="text" class="text">
                <label class="text">مدل یا برند اولین وسیله نقلیه تان چه بود؟</label>
                <input type="text" class="text">
                <label class="text">نام حیوان خانگی محبوبتان در دوران کودکی چه بود؟</label>
                <input type="text" class="text">
                <label class="text">نام خیابانی که اولین خانه تان در آن قرار داشت چه بود؟</label>
                <input type="text" class="text">
                <label class="text">نام معلم مورد علاقه تان در دوران تحصیل چه بود؟</label>
                <input type="text" class="text">
                <input type="submit" class="text" value="بازیابی اطلاعات">
            </form>
        </div>
        <div class="login-banner text"><span>سلف شمسی پور</span></div>
    </div>
{% endblock %}