{% extends 'admin/admin.html' %}
{% load static %}

{% block extra_assets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'style/reserved.css' %}" />
{% endblock %}

{% block title %}
  {{ block.super }}داشبورد
{% endblock %}

{% block admin_content %}
  <div class="guest-codes-widget">
    <h3 class="widget-title">رزرو میهمان</h3>
    <div class="current-reserved-meals-list text">
      {% for res in guests_reservations %}
        <div class="meal">
          <input type="checkbox" class="toggle-code" hidden />
          <label class="meal-wrapper">
            <div class="meal-image-code">
              <div class="meal-image-container">
                <img src="{{ res.dailymenu.image_url }}" class="meal-image" />
                <hr />
                <div class="meal-detail">
                  <span class="meal-name">{{ res.dailymenu.food.name }}</span>
                  <span class="meal-description">
                    {% if res.dailymenu.drink %}{{ res.dailymenu.drink.name }}{% endif %}
                    {% for side in res.dailymenu.side_dishes.all %}
                      ، {{ side.name }}
                    {% endfor %}
                  </span>
                  <span class="meal-expiration">
                    قابل استفاده در تاریخ
                    <strong>{{ res.dailymenu.expiration_date|date:'Y/m/d' }}</strong><br />
                    تا ساعت <strong>{{ res.dailymenu.expiration_date|date:'H:i' }}</strong>
                  </span>
                  <span class="meal-guest">میهمان: <b>{{ res.guest.first_name }} {{ res.guest.last_name }}</b></span>
                </div>
              </div>
              <div class="meal-code">
                {{ res.qr_svg|safe }}
                <hr />
                <div class="meal-code-number">
                  کد غذا<br />{{ res.reservation_code }}
                </div>
              </div>
            </div>
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr size="1" noshade />
  <div class="reservation-log-widget">
    <h3 class="widget-title">گزارش رزرو ها</h3>
    <table class="reservation-logs text">
      <tbody>
        <tr>
          <td>
            <table class="reservation-log-header" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <th></th>
                <th>نام و نام خانوادگی</th>
                <th>غذا رزرو شده</th>
                <th>وضعیت</th>
                <th>کد</th>
                <th>تاریخ ثبت</th>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="reservation-log-list">
              <table width="100%" cellspacing="0" cellpadding="0">
                {% for r in reservations %}
                  <tr class="reservation-log-row">
                    <td></td>
                    
                    {% if r.guest %}
                    <td>{{ r.guest.first_name|default:'-' }} {{ r.guest.last_name|default:'-' }}</td>
                    {% else %}
                    <td>{{ r.user.first_name|default:'-' }} {{ r.user.last_name|default:'-' }}</td>
                    {% endif %}
                      
                    <td class="date-meal-name">
                      {% if r.dailymenu %}
                        {{ r.dailymenu.food.name|default:'' }}
                        {% if r.dailymenu.drink %}
                          ، {{ r.dailymenu.drink.name }}
                        {% endif %}
                        {% for side in r.dailymenu.side_dishes.all %}
                          ، {{ side.name }}
                        {% endfor %}
                      {% endif %}
                    </td>
                    <td class="date-meal-description">{{ r.status.title|default:'-' }}</td>
                    <td class="date-meal-price">{{ r.reservation_code }}</td>
                    <td>{{ r.date_status_updated|date:'H:i:s Y/m/d' }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="{% static '/script/reserved.js' %}"></script>
{% endblock %}
