{% extends 'admin/admin.html' %}
{% load static %}

{% block extra_assets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/style/fontawesome/css/all.min.css' %}" />

  <style>
    .reservation-log-list {
      max-height: 150px;
    }
  </style>
{% endblock %}

{% block title %}
  {{ block.super }}
  رزرو میهمان
{% endblock %}

{% block admin_content %}
  <div class="accordion">
    <div class="accordion-item">
      <div class="accordion-title text" id="search-accordion-toggle" onclick="toggleAccordion(this)">
        <h3 class="widget-title">جستجو</h3>
      </div>
      <div class="accordion-content">
        <div class="search-widget text">
          <form class="search-form" method="get">
            <div class="input-container search-container">
              <label>جستجو :</label>
              <input type="text" name="q" value="{{ request.GET.q }}" />
            </div>
            <div class="input-container submit-button-container">
              <input type="submit" value="جستجو" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div id="guest-add-edit-form-accordion" class="accordion-title text" onclick="toggleAccordion(this)">
        <h3 class="widget-title">افزودن و ویرایش میهمان</h3>
      </div>
      <div class="accordion-content">
        <div class="add-user-widget text">
          <form id="guest-form" method="post" class="add-edit-form">
            {% csrf_token %}
            <input type="hidden" name="id" id="guest-id" />

            <div class="input-container">
              <label>نام:</label>
              <input type="text" name="first_name" id="guest-first-name" required />
            </div>

            <div class="input-container">
              <label>نام خانوادگی:</label>
              <input type="text" name="last_name" id="guest-last-name" required />
            </div>

            <div class="input-container">
              <label>ایمیل:</label>
              <input type="email" name="email" id="guest-email" />
            </div>

            <div class="input-container">
              <label>شماره تماس:</label>
              <input type="text" name="phone_number" id="guest-phone" />
            </div>

            <div class="input-container submit-button-container">
              <input type="submit" value="ثبت" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div id="guest-food-add-edit-form-accordion" class="accordion-title text" onclick="toggleAccordion(this)">
        <h3 class="widget-title">رزرو و ویرایش غذای میهمان</h3>
      </div>
      <div class="accordion-content">
        <div class="add-user-widget text">
          <form class="add-edit-form">
            <div class="input-container user-container">
              <label>کاربر در حال رزرو:</label>
              <input type="text" />
            </div>
            <div class="input-container guest-container">
              <label>میهمان:</label>
              <select>
                <option value="" disabled selected>Select food</option>
                <option value="pizza">Pizza</option>
                <option value="burger">Burger</option>
                <option value="salad">Salad</option>
                <option value="pasta">Pasta</option>
              </select>
            </div>
            <div class="input-container meal-container">
              <label>غذا:</label>
              <select>
                <option value="" disabled selected>Select food</option>
                <option value="pizza">Pizza</option>
                <option value="burger">Burger</option>
                <option value="salad">Salad</option>
                <option value="pasta">Pasta</option>
              </select>
            </div>
            <div class="input-container submit-button-container">
              <input type="submit" value="ثبت" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="reservation-log-widget">
    <table class="reservation-logs text">
      <tbody>
        <tr>
          <td>
            <table class="reservation-log-header" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <th></th>
                <th>نام و نام خانوادگی</th>
                <th>ایمیل</th>
                <th>تلفن</th>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="reservation-log-list">
              <table width="100%" cellspacing="0" cellpadding="0">
                {% for guest in guests %}
                  <tr class="reservation-log-row" data-id="{{ guest.id }}" data-first-name="{{ guest.first_name }}" data-last-name="{{ guest.last_name }}" data-email="{{ guest.email }}" data-phone="{{ guest.phone_number }}">
                    <td class="date-meal-actions">
                      <i class="fas fa-edit edit-guest" data-id="{{ guest.id }}"  onclick="toggleAccordion(document.getElementById('guest-add-edit-form-accordion'), true);"></i>&nbsp;&nbsp;&nbsp;
                      <i class="fas fa-trash delete-guest" data-id="{{ guest.id }}"></i>
                    </td>
                    <td>{{ guest.first_name }} {{ guest.last_name }}</td>
                    <td class="date-meal-name">{{ guest.email }}</td>
                    <td class="date-meal-price">{{ guest.phone_number }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="reservation-log-widget">
    <table class="reservation-logs text">
      <tbody>
        <tr>
          <td>
            <table class="reservation-log-header" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <th></th>
                <th>نام و نام خانوادگی</th>
                <th>غذا رزرو شده</th>
                <th>وضعیت</th>
                <th>کد</th>
                <th>تاریخ ثبت</th>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="reservation-log-list">
              <table width="100%" cellspacing="0" cellpadding="0">
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
                <tr class="reservation-log-row" data-meal-id>
                  <td class="date-meal-actions">
                    <i class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>
                  </td>
                  <td>دونالد ترامپ</td>
                  <td class="date-meal-name">خورشت قیمه، ماست و زیتون، دوغ</td>
                  <td class="date-meal-description">مصرف شده</td>
                  <td class="date-meal-price">۰۲۸۴۶۲۷۳</td>
                  <td>۱۴۰۴/۰۲/۲۷ ۱۷:۰۶:۵۳</td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="{% static '/script/admin/admin-panel.js' %}"></script>
  <script src="{% static '/script/admin/admin-guests.js' %}"></script>
{% endblock %}
