{% extends 'base.html' %}
{% load static %}

{% block extra_assets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'style/admin/admin-panel.css' %}" />
{% endblock %}
{% block header_css %}
{% endblock %}

{% block title %}
  پنل مدیر -
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="sidebar text">
      <div class="admin-short-detail">
        {% if profile.image_url %}
          <img src="{{ profile.image_url }}" alt="Profile Picture" class="user-profile-thumb" />
        {% endif %}
        <div class="admin-name-welcome-container text">
          <span class="admin-name">{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
          <span class="welcome-message">خوش آمدید</span>
        </div>
      </div>
      <div class="menu-item">
        <button class="{% if active_page == 'admin-dashboard' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_dashboard' %}');">صفحه اصلی</button>
      </div>
      <div class="menu-item">
        <h3>تنظیمات کاربران</h3>
        <button class="{% if active_page == 'admin-users' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_users' %}');">کاربران</button>
        <button class="{% if active_page == 'admin-password-recovery-requests' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_password_recovery_requests' %}');">درخواست های بازیابی رمزعبور</button>
      </div>
      <div class="menu-item">
        <h3>تنظیمات منو غذایی</h3>
        <button class="{% if active_page == 'admin-foods' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_foods' %}');">غذا ها</button>
        <button class="{% if active_page == 'admin-drinks' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_drinks' %}');">نوشیدنی ها</button>
        <button class="{% if active_page == 'admin-sidedishes' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_sidedishes' %}');">مخلفات</button>
      </div>
      <div class="menu-item">
        <h3>رزرو ها</h3>
        <button class="{% if active_page == 'admin-daily-menu-items' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_daily_menu_items' %}');">منوی روزانه</button>
        <button class="{% if active_page == 'admin-reservations' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_reservations' %}');">گزارش رزرو ها</button>
        <button class="{% if active_page == 'admin-guests' %}active{% endif %}" onclick="window.location.assign('{% url 'admin_guests' %}');">رزرو میهمان</button>
      </div>
    </div>
    <div class="main-section">
      {% block admin_content %}

      {% endblock %}
    </div>
  </div>
{% endblock %}
