{% extends 'admin/admin.html' %}
{% load static %}

{% block extra_assets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/style/fontawesome/css/all.min.css' %}" />
{% endblock %}

{% block title %}
  {{ block.super }}
  بازیابی رمز عبور
{% endblock %}

{% block admin_content %}
  <div class="accordion">
    <div class="accordion-item">
      <div class="accordion-title text" id="search-accordion-toggle" onclick="toggleAccordion(this)">
        <h3 class="widget-title">جستجو</h3>
      </div>
      <div class="accordion-content">
        <div class="search-widget text">
          <form class="search-form" method="get">
            <div class="input-container search-container">
              <label>جستجو :</label>
              <input type="text" name="q" value="{{ request.GET.q }}" />
            </div>
            <div class="input-container submit-button-container">
              <input type="submit" value="جستجو" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-title text" id="request-edit-form-accordion" onclick="toggleAccordion(this)">
        <h3 class="widget-title">ویرایش درخواست</h3>
      </div>
      <div class="accordion-content">
        <div class="add-user-widget text">
          <form id="recovery-form" class="add-edit-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" id="form-id" />

            <div class="input-container username-container">
              <label>کاربر :</label>
              <input type="text" id="form-username" readonly />
            </div>
            <div class="input-container firstname-container">
              <label>نام:</label>
              <input type="text" id="form-firstname" readonly />
            </div>
            <div class="input-container lastname-container">
              <label>نام خانوادگی:</label>
              <input type="text" id="form-lastname" readonly />
            </div>
            <div class="input-container email-container">
              <label>ایمیل:</label>
              <input type="email" id="form-email" readonly />
            </div>
            <div class="input-container tel-container">
              <label>تلفن:</label>
              <input type="tel" id="form-phone" readonly />
            </div>
            <div class="input-container submit-date-container">
              <label>تاریخ ثبت:</label>
              <input type="text" id="form-date" readonly />
            </div>
            <div class="input-container allowed-meals-container">
              <label>وضعیت درخواست:</label>
              <span>
                <span>
                  <input type="radio" id="fulfilled" name="fulfilled" value="true" />
                  <label for="fulfilled">پاسخ داده شد</label>
                </span>
                <span>
                  <input type="radio" id="pending" name="fulfilled" value="false" />
                  <label for="pending">در حال انجام</label>
                </span>
              </span>
            </div>
            <div class="input-container submit-button-container">
              <input type="submit" value="ثبت" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr size="1" noshade />
  <div class="reservation-log-widget">
    <table class="reservation-logs text">
      <tbody>
        <tr>
          <td>
            <table class="reservation-log-header" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <th></th>
                <th>نام و نام خانوادگی</th>
                <th>وضعیت</th>
                <th>تاریخ ثبت</th>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="reservation-log-list">
              <table width="100%" cellspacing="0" cellpadding="0">
                {% for req in requests %}
                  <tr class="reservation-log-row">
                    <td class="date-meal-actions">
                      <i class="fas fa-edit edit-request" data-id="{{ req.id }}" data-username="{{ req.user.username }}" data-firstname="{{ req.user.first_name }}" data-lastname="{{ req.user.last_name }}" data-email="{{ req.user.email }}" data-phone="{{ req.user.profile.phone_number|default:'' }}" data-date="{{ req.created_at|date:'Y/m/d H:i:s' }}" data-fulfilled="{{ req.fulfilled|yesno:'true,false' }}" onclick="toggleAccordion(document.getElementById('request-edit-form-accordion'), true)"></i>
                    </td>
                    <td>{{ req.user.get_full_name }}</td>
                    <td>{{ req.fulfilled|yesno:'پاسخ داده شد,در حال انجام' }}</td>
                    <td>{{ req.created_at|date:'Y/m/d H:i:s' }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="{% static '/script/admin/admin-panel.js' %}"></script>
  <script src="{% static '/script/admin/admin-password-recovery-requests.js' %}"></script>
{% endblock %}
